<!-- <md-content> -->
	<h2>{{bike.year}} {{bike.name}}</h2>
	<p>Size: {{bike.size}}</p>

	<div class="" layout-gt-sm="row">
		<div flex>
			<md-card>
				<md-card-header>
					<md-card-avatar>
		            	<md-icon class="md-icon-button">
		            		<i class="material-icons">directions_bike</i>
		            	</md-icon>
		          	</md-card-avatar>
		          	<md-card-header-text>
		            	<span class="md-title">Current Build</span>
		            	<span class="md-subhead">subhead</span>
		        	</md-card-header-text>
		        </md-card-header>
					<md-list flex>
						<md-list-item class="md-2-line" ng-click="editBuild(b, $event)" ng-repeat="b in bike.build">
							<div class="md-list-item-text">
				            	<h3>{{b.description}}</h3>
				            	<p class="overflow-text">{{b.url}}</p>
				         	</div>
				         	<md-menu md-position-mode="target-right target">
					          	<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
						            <md-icon md-menu-origin class="md-icon-button">
					            	<i class="material-icons">more_vert</i>
						        	</md-icon>
						         </md-button>
					          	<md-menu-content width="4" >
					            	<md-menu-item>
					              		<md-button ng-click="deleteBuild(b)">
					                  		<div layout="row" flex>
					                    		<p flex>Delete</p>
					                  		</div>
					              		</md-button>
					            	</md-menu-item>
					          	</md-menu-content>
					        </md-menu>
						</md-list-item>
					</md-list>
				<md-card-actions layout="row" layout-align="end center">
		          	<md-button ng-click="addBuild($event)">Add Item</md-button>
		        </md-card-actions>
			</md-card>
		</div>

		<div flex>
			<md-card>
				<md-card-header>
					<md-card-avatar>
		            	<md-icon class="md-icon-button">
		            		<i class="material-icons">shopping_cart</i>
		            	</md-icon>
		          	</md-card-avatar>
		          	<md-card-header-text>
		            	<span class="md-title">Parts Wanted</span>
		            	<span class="md-subhead">subhead</span>
		        	</md-card-header-text>
		        </md-card-header>
				<md-list flex>
					<md-list-item class="md-2-line" ng-click="editWanted(w)" ng-repeat="w in bike.wanted">
						<md-checkbox class="md-primary" ng-click="gotPart(w)"></md-checkbox>
						<div class="md-list-item-text">
			            	<h3>{{w.description}}</h3>
			            	<p class="overflow-text">{{w.url}}</p>
			         	</div>
			         	<md-menu md-position-mode="target-right target" >
				          	<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				            	<md-icon md-menu-origin class="md-icon-button">
				            		<i class="material-icons">more_vert</i>
				        		</md-icon>
				          	</md-button>
				          	<md-menu-content width="4" >
				            	<md-menu-item>
				              		<md-button ng-click="deleteWanted(w)">
				                  		<div layout="row" flex>
				                    		<p flex>Delete</p>
				                  		</div>
				              		</md-button>
			            		</md-menu-item>
				          	</md-menu-content>
				        </md-menu>
					</md-list-item>
				</md-list>
				<md-card-actions layout="row" layout-align="end center">
		          	<md-button ng-click="addWanted($event)">Add Item</md-button>
		        </md-card-actions>
			</md-card>
		</div>

		<div flex>
			<md-card>
				<md-card-header>
					<md-card-avatar>
		            	<md-icon class="md-icon-button">
		            		<i class="material-icons">build</i>
		            	</md-icon>
		          	</md-card-avatar>
		          	<md-card-header-text>
		            	<span class="md-title">Maintenance Needed</span>
		            	<span class="md-subhead">subhead</span>
		        	</md-card-header-text>
		        </md-card-header>
				<md-list flex>
					<md-list-item class="md-2-line" ng-click="editMaintenance(m)" ng-repeat="m in bike.maintenance">
						<md-checkbox class="md-primary" ng-checked="checkCompleted(m)" ng-click="updateCompleted(m)"></md-checkbox>
						<div class="md-list-item-text">
		            		<h3>{{m.description}}</h3>
		            	</div>
			         	<md-menu md-position-mode="target-right target" >
				        	<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				            	<md-icon md-menu-origin class="md-icon-button">
				            		<i class="material-icons">more_vert</i>
				        		</md-icon>
				          	</md-button>
				          	<md-menu-content width="4" >
				            	<md-menu-item>
				              		<md-button ng-click="deleteMaintenance(m)">
				                  		<div layout="row" flex>
				                    		<p flex>Delete</p>
				                  		</div>
				              		</md-button>
			            		</md-menu-item>
				          	</md-menu-content>
				        </md-menu>
					</md-list-item>
				</md-list>
				<md-card-actions layout="row" layout-align="end center">
		          	<md-button ng-click="addMaintenance($event)">Add Item</md-button>
		        </md-card-actions>
			</md-card>
		</div>
	</div>
<!-- </md-content> -->