<md-dialog aria-label="Add Part">
	<form ng-cloak>
		<md-dialog-content>
			<div class="md-dialog-content">
				<p>
					Use this section to add any parts you are looking to upgrade on the bike.
				</p>
				<div layout-gt-xs="row">
					<md-input-container flex-gt-xs>
						<label>Description</label>
						<input ng-model="part.description">
					</md-input-container>
				</div>
				<div layout-gt-xs="row">
					<md-input-container flex-gt-xs>
						<label>URL</label>
						<input ng-model="part.url">
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button type="submit" class="md-raised md-primary" ng-click="save()">
				Save
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>