<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My AngularJS App</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/app.css">

	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- JS -->
	<script src="bower_components/angular/angular.js"></script>

</head>
<body ng-app="amplitudeApp" ng-cloak layout="row">
	
   <!--  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      	<md-toolbar class="md-theme-indigo">
        	<h1 class="md-toolbar-tools">Sidebar Menu</h1>
      	</md-toolbar>
      	<md-list>
      		<md-subheader class="md-no-sticky">Favorites</md-subheader>
      		<md-list-item ng-repeat="menu in ['Menu Item 1','Menu Item 2','Menu Item 3','Menu Item 4']">
	      		<md-button>
	      			<md-icon class="md-default-theme"><i class="material-icons">account_circle</i></md-icon>
	      			<span class="md-inline-list-icon-label">{{menu}}</span>
	      		</md-button>
      		</md-list-item>
      		<md-divider></md-divider>
  		</md-list>
    </md-sidenav>
 -->
    <div layout="column" flex>
    	<md-toolbar ng-controller="menuBarCtrl">
	      <div class="md-toolbar-tools">
	      	<md-button ng-click="backToDashboard()" class="md-icon-button" ng-show="displayBack">
	      		<i class="material-icons">arrow_back</i>
	      	</md-button>
	        <!-- <md-button class="md-icon-button" aria-label="Settings" hide-gt-sm ng-click="toggleSidenav()">
	        	<i class="material-icons">menu</i>
	        </md-button> -->
	        <h2>
	          	<span>Bike Manager</span>
	        </h2>
	        <span flex></span>
	        <md-menu md-position-mode="target-right target" ng-if="showLogin">
		        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
		        	<i class="material-icons">account_circle</i>
		        </md-button>
		        <md-menu-content width="3">
		            <md-menu-item>
		            	<md-button ng-click="null">
		                	<div layout="row">
		                    	<p flex>Edit Profile</p>
		                	</div>
		              	</md-button>
		            </md-menu-item>
		            <md-menu-item>
		              	<md-button ng-click="logout()">
		                	<div layout="row">
		                    	<p flex>Logout</p>
		                 	</div>
		              	</md-button>
		            </md-menu-item>
		        </md-menu-content>
		    </md-menu>
	      </div>
	    </md-toolbar>

		<md-content class="md-padding" ui-view flex></md-content>
	</div>
	
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
  	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
  	<script src="bower_components/angular-messages/angular-messages.min.js"></script>

  	<!-- Angular Material Library -->
  	<script src="bower_components/angular-material/angular-material.min.js"></script>

  	<script src="bower_components/lodash/dist/lodash.min.js"></script>

  	<script src="js/app.js"></script>
	<script src="js/config.js"></script>  	
	<script src="js/services.js"></script>
  	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>

	<script src="dashboard/dashboardService.js"></script>
  	<script src="dashboard/dashboardDirective.js"></script>
	<script src="dashboard/dashboardController.js"></script>

	<script src="bike/bikeService.js"></script>
  	<script src="bike/bikeDirective.js"></script>
	<script src="bike/bikeController.js"></script>

	<script src="login/loginService.js"></script>
	<script src="login/loginController.js"></script>
</body>
</html>